<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>


    <form method="post"　action="{{ url }}">
             <label>User_ID
                <input name="uid" type="text" value="{{ uid }}">
     </label>
     <label>   Question_ID
                <input name="qid" type="text" value="{{ qid }}">
     </label>
        <br>
    <h3>{{ transitionText }}</h3>
    <h2>{{ questions }}</h2>

                 <select name="Choices">
              {% for item in choices %}
                <option  value="{{ loop.index }}" id="{{ loop.index }}">{{ item }}</option>
             {% endfor %}
             </select>
      <br>
      <input type="submit" value="Submit">
    </form>

  </body>

</html>